extends layout

block content
  h2= tip.title
  p= tip.description
  p By: #{tip.username} | #{tip.created_at}

  h3 Comments
  each comment in comments
    div.comment
      p= comment.comment
      p By: #{comment.username} | #{comment.created_at}

  form(action="/tips/" + tip.id + "/comment", method="POST")
    textarea(name="comment" required placeholder="Add a comment")
    button(type="submit") Post Comment
